In [28]:
import pandas as pd

df = [{'type': 'locations', 'loc_id': 43, 'arrival_time': '09:00 AM', 'leave_time': '12:00 PM'}, {'type': 'travel_dur', 'travel_time': '0 Min'}, {'type': 'locations', 'loc_id': 112, 'arrival_time': '12:04 PM', 'leave_time': '01:34 PM'}, {'type': 'travel_dur', 'travel_time': '0 Min'}, {'type': 'locations', 'loc_id': 50, 'arrival_time': '01:36 PM', 'leave_time': '03:06 PM'}, {'type': 'travel_dur', 'travel_time': '0 Min'}, {'type': 'locations', 'loc_id': 104, 'arrival_time': '03:06 PM', 'leave_time': '03:51 PM'}]
df = [{'type': 'locations', 'loc_id': 26, 'arrival_time': 9, 'leave_time': 11.0}, {'type': 'travel_dur', 'travel_time': 0.10722222222222223}, {'type': 'locations', 'loc_id': 73, 'arrival_time': 11.107222222222223, 'leave_time': 12.107222222222223}, {'type': 'travel_dur', 'travel_time': 0.1113888888888889}, {'type': 'locations', 'loc_id': 104, 'arrival_time': 12.218611111111112, 'leave_time': 12.968611111111112}, {'type': 'travel_dur', 'travel_time': 0.0}, {'type': 'locations', 'loc_id': 50, 'arrival_time': 12.968611111111112, 'leave_time': 14.468611111111112}, {'type': 'travel_dur', 'travel_time': 0.029722222222222223}, {'type': 'locations', 'loc_id': 46, 'arrival_time': 14.498333333333335, 'leave_time': 15.248333333333335}, {'type': 'travel_dur', 'travel_time': 0.018333333333333333}, {'type': 'locations', 'loc_id': 49, 'arrival_time': 15.266666666666667, 'leave_time': 15.766666666666667}]
df = pd.DataFrame(df)
df

          type  loc_id  arrival_time  leave_time  travel_time
0    locations    26.0      9.000000   11.000000          NaN
1   travel_dur     NaN           NaN         NaN     0.107222
2    locations    73.0     11.107222   12.107222          NaN
3   travel_dur     NaN           NaN         NaN     0.111389
4    locations   104.0     12.218611   12.968611          NaN
5   travel_dur     NaN           NaN         NaN     0.000000
6    locations    50.0     12.968611   14.468611          NaN
7   travel_dur     NaN           NaN         NaN     0.029722
8    locations    46.0     14.498333   15.248333          NaN
9   travel_dur     NaN           NaN         NaN     0.018333
10   locations    49.0     15.266667   15.766667          NaN

In [11]:
def minuteFloatToHourMinSec(minute_float):
    # Convert duration to seconds
    duration_in_seconds = minute_float * 60

    # Convert seconds to hours, minutes, and seconds
    hours, seconds_remainder = divmod(duration_in_seconds, 3600)
    minutes, seconds = divmod(seconds_remainder, 60)

    minutes_unit = 'Mins' if minutes > 1 else 'Min'
    hours_unit = 'Hrs' if hours > 1 else 'Hr'
    
    if hours < 1: # less than an hour
        return f'{minutes} {minutes_unit}'
    else:
        return f'{hours} {hours_unit} {minutes} {minutes_unit}'

minuteFloatToHourMinSec()

'0.0 Min'

In [5]:
0.07666666666666666*60

4.6