In [2]:
import pandas as pd

df = [{'type': 'locations', 'loc_id': 26, 'arrival_time': '09:00 AM', 'leave_time': '11:00 AM'}, {'type': 'travel_dur', 'travel_time': '0.0 Min'}, {'type': 'locations', 'loc_id': 112, 'arrival_time': '11:07 AM', 'leave_time': '12:37 PM'}, {'type': 'travel_dur', 'travel_time': '0.0 Min'}, {'type': 'locations', 'loc_id': 50, 'arrival_time': '12:38 PM', 'leave_time': '02:08 PM'}, {'type': 'travel_dur', 'travel_time': '0.0 Min'}, {'type': 'locations', 'loc_id': 104, 'arrival_time': '02:08 PM', 'leave_time': '02:53 PM'}, {'type': 'travel_dur', 'travel_time': '0.0 Min'}, {'type': 'locations', 'loc_id': 76, 'arrival_time': '02:55 PM', 'leave_time': '03:40 PM'}]
df = pd.DataFrame(df)
df

         type  loc_id arrival_time leave_time travel_time
0   locations    26.0     09:00 AM   11:00 AM         NaN
1  travel_dur     NaN          NaN        NaN     0.0 Min
2   locations   112.0     11:07 AM   12:37 PM         NaN
3  travel_dur     NaN          NaN        NaN     0.0 Min
4   locations    50.0     12:38 PM   02:08 PM         NaN
5  travel_dur     NaN          NaN        NaN     0.0 Min
6   locations   104.0     02:08 PM   02:53 PM         NaN
7  travel_dur     NaN          NaN        NaN     0.0 Min
8   locations    76.0     02:55 PM   03:40 PM         NaN

In [11]:
def minuteFloatToHourMinSec(minute_float):
    # Convert duration to seconds
    duration_in_seconds = minute_float * 60

    # Convert seconds to hours, minutes, and seconds
    hours, seconds_remainder = divmod(duration_in_seconds, 3600)
    minutes, seconds = divmod(seconds_remainder, 60)

    minutes_unit = 'Mins' if minutes > 1 else 'Min'
    hours_unit = 'Hrs' if hours > 1 else 'Hr'
    
    if hours < 1: # less than an hour
        return f'{minutes} {minutes_unit}'
    else:
        return f'{hours} {hours_unit} {minutes} {minutes_unit}'

minuteFloatToHourMinSec()

'0.0 Min'

In [5]:
0.07666666666666666*60

4.6