In [5]:
df = [{'type': 'locations', 'loc_id': 'start', 'arrival_time': '09:00:00', 'leave_time': '09:00:00', 'reward': 1.0204192518148563, 'totalReward': 20408.385036297124, 'visitCount': 20000}, {'type': 'travel_dur', 'travel_dur': 0}, {'type': 'locations', 'loc_id': 51, 'arrival_time': '09:00:00', 'leave_time': '09:30:00', 'reward': 1.4107549639822472, 'totalReward': 2351.728524958406, 'visitCount': 1667}, {'type': 'travel_dur', 'travel_dur': 313}, {'type': 'locations', 'loc_id': 46, 'arrival_time': '09:35:13', 'leave_time': '10:20:13', 'reward': 2.14297954062951, 'totalReward': 325.7328901756855, 'visitCount': 152}, {'type': 'travel_dur', 'travel_dur': 53}, {'type': 'locations', 'loc_id': 52, 'arrival_time': '10:21:06', 'leave_time': '12:21:06', 'reward': 4.44147991021216, 'totalReward': 39.97331919190944, 'visitCount': 9}, {'type': 'travel_dur', 'travel_dur': 54}, {'type': 'locations', 'loc_id': 98, 'arrival_time': '12:22:00', 'leave_time': '13:07:00', 'reward': 6.556181620804058, 'totalReward': 6.556181620804058, 'visitCount': 1}, {'type': 'travel_dur', 'travel_dur': 43}, {'type': 'locations', 'loc_id': 104, 'arrival_time': '13:07:43', 'leave_time': '13:52:43', 'reward': 6.556181620804058, 'totalReward': 6.556181620804058, 'visitCount': 1}, {'type': 'travel_dur', 'travel_dur': 0}, {'type': 'locations', 'loc_id': 50, 'arrival_time': '13:52:43', 'leave_time': '15:22:43', 'reward': 6.556181620804058, 'totalReward': 6.556181620804058, 'visitCount': 1}, {'type': 'travel_dur', 'travel_dur': 83}, {'type': 'locations', 'loc_id': 49, 'arrival_time': '15:24:06', 'leave_time': '15:54:06', 'reward': 6.556181620804058, 'totalReward': 6.556181620804058, 'visitCount': 1}]

In [17]:
import pandas as pd

df = [{'type': 'locations', 'loc_id': 46, 'arrival_time': '09:00:00', 'leave_time': '09:45:00', 'reward': 1.5806047854308214}, {'type': 'travel_dur', 'travel_dur': 255, 'travel_type': 'drive'}, {'type': 'locations', 'loc_id': 51, 'arrival_time': '09:49:15', 'leave_time': '10:19:15', 'reward': 1.983043145629954}, {'type': 'travel_dur', 'travel_dur': 376, 'travel_type': 'drive'}, {'type': 'locations', 'loc_id': 76, 'arrival_time': '10:25:31', 'leave_time': '11:10:31', 'reward': 2.574649995954484}, {'type': 'travel_dur', 'travel_dur': 333, 'travel_type': 'walk'}, {'type': 'locations', 'loc_id': 110, 'arrival_time': '11:16:04', 'leave_time': '12:16:04', 'reward': 3.2978390749330857}, {'type': 'travel_dur', 'travel_dur': 57, 'travel_type': 'walk'}, {'type': 'locations', 'loc_id': 107, 'arrival_time': '12:17:01', 'leave_time': '13:02:01', 'reward': 3.2978390749330857}, {'type': 'travel_dur', 'travel_dur': 81, 'travel_type': 'walk'}, {'type': 'locations', 'loc_id': 104, 'arrival_time': '13:03:22', 'leave_time': '13:48:22', 'reward': 3.2978390749330857}, {'type': 'travel_dur', 'travel_dur': 44, 'travel_type': 'walk'}, {'type': 'locations', 'loc_id': 50, 'arrival_time': '13:49:06', 'leave_time': '15:19:06', 'reward': 3.2978390749330857}, {'type': 'travel_dur', 'travel_dur': 207, 'travel_type': 'walk'}, {'type': 'locations', 'loc_id': 49, 'arrival_time': '15:22:33', 'leave_time': '15:52:33', 'reward': 3.2978390749330857}]
['Restaurant', 'Mall', 'Religion', 'Nature', 'Beach', 'Historical Place', 'Outdoor', 'Zoo', 'Theater', 'Adventure', 'Amusement Park', 'Family', 'Park', 'Snack', 'Buffet']
df = pd.DataFrame(df)
df

,type,loc_id,arrival_time,leave_time,reward,travel_dur,travel_type
0,locations,46.0,09:00:00,09:45:00,1.580605,NaN,NaN
1,travel_dur,NaN,NaN,NaN,NaN,255.0,drive
2,locations,51.0,09:49:15,10:19:15,1.983043,NaN,NaN
3,travel_dur,NaN,NaN,NaN,NaN,376.0,drive
4,locations,76.0,10:25:31,11:10:31,2.574650,NaN,NaN
5,travel_dur,NaN,NaN,NaN,NaN,333.0,walk
6,locations,110.0,11:16:04,12:16:04,3.297839,NaN,NaN
7,travel_dur,NaN,NaN,NaN,NaN,57.0,walk
8,locations,107.0,12:17:01,13:02:01,3.297839,NaN,NaN
9,travel_dur,NaN,NaN,NaN,NaN,81.0,walk
10,locations,104.0,13:03:22,13:48:22,3.297839,NaN,NaN
11,travel_dur,NaN,NaN,NaN,NaN,44.0,walk
12,locations,50.0,13:49:06,15:19:06,3.297839,NaN,NaN
13,travel_dur,NaN,NaN,NaN,NaN,207.0,walk
14,locations,49.0,15:22:33,15:52:33,3.297839,NaN,NaN

In [13]:
import datetime

print(datetime.datetime(2023, 4, 9, 9, 0))
print(datetime.timedelta(days=0, hours=0, minutes=60).total_seconds())
print(datetime.timedelta().seconds)
print(datetime.time(9, 0))

2023-04-09 09:00:00
3600.0
0
09:00:00

In [55]:
import datetime

with open('driving.txt', 'r', encoding='utf-8') as file:
    data = file.read()
    distanceMatrix = eval(data)

print(distanceMatrix)

for start in distanceMatrix.keys():
    for dest in distanceMatrix[start].keys():
        distanceMatrix[start][dest] = datetime.timedelta(minutes=distanceMatrix[start][dest])

distanceMatrix

0:01:06

In [46]:
def timeStringToTime(time_str):
    hour_str, minute_str = time_str.split(":")
    hour = int(hour_str)
    minute = int(minute_str)
    if hour == 24:
        hour = 23
        minute = 59

    return datetime.time(hour, minute)

with open('locations.txt', 'r', encoding='utf-8') as file:
    data = file.read()
    places = eval(data)
places = places['mon']  # get monday only for now

for i in range(len(places)):
    places[i]['hours'] = (timeStringToTime(places[i]['hours'][0]), timeStringToTime(places[i]['hours'][1]))
    places[i]['est_time_stay'] = datetime.timedelta(minutes=places[i]['est_time_stay'])

places

[{'loc_id': 24,
  'loc_name': 'Chamchuri Square',
  'coordinate': [13.7329345, 100.5305695],
  'tags': ['Mall', 'Shopping', 'Must See Attraction', 'Modern', 'Temple'],
  'hours': (datetime.time(10, 0), datetime.time(21, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=5400),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.2,
  'open_day': 'MON'},
 {'loc_id': 25,
  'loc_name': 'Chulalongkorn University',
  'coordinate': [13.7382832, 100.5324698],
  'tags': ['Historical Place'],
  'hours': (datetime.time(8, 0), datetime.time(17, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=5400),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.6,
  'open_day': 'MON'},
 {'loc_id': 26,
  'loc_name': 'Lumphini Park',
  'coordinate': [13.7296997, 100.5368683],
  'tags': ['Must See Attraction',
   'Family',
   'Temple',
   'Modern',
   'Adventure',
   'Photography'],
  'hours': (datetime.time(4, 30), datetime.time(22, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=7200),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.5,
  'open_day': 'MON'},
 {'loc_id': 27,
  'loc_name': 'centralwOrld',
  'coordinate': [13.7460002, 100.5399162],
  'tags': ['Must See Attraction', 'Shopping', 'Mall', 'Luxury', 'Temple'],
  'hours': (datetime.time(10, 0), datetime.time(22, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=10800),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.5,
  'open_day': 'MON'},
 {'loc_id': 28,
  'loc_name': 'Samyan Mitrtown',
  'coordinate': [13.7336159, 100.5285119],
  'tags': ['Modern', 'Mall', 'Must See Attraction', 'Temple', 'Shopping'],
  'hours': (datetime.time(0, 0), datetime.time(23, 59)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=9000),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.5,
  'open_day': 'MON'},
 {'loc_id': 29,
  'loc_name': 'Siam Paragon',
  'coordinate': [13.7462411, 100.5347402],
  'tags': ['Must See Attraction', 'Mall', 'Shopping', 'Modern', 'Sports'],
  'hours': (datetime.time(10, 0), datetime.time(22, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=10800),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.5,
  'open_day': 'MON'},
 {'loc_id': 34,
  'loc_name': 'CU Centenary Park',
  'coordinate': [13.7394291, 100.5238271],
  'tags': ['Modern',
   'Must See Attraction',
   'Luxury',
   'Temple',
   'Adventure',
   'Photography'],
  'hours': (datetime.time(5, 0), datetime.time(22, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=5400),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.3,
  'open_day': 'MON'},
 {'loc_id': 40,
  'loc_name': 'Jeh O Chula',
  'coordinate': [13.7424996, 100.5225179],
  'tags': ['Must See Attraction',
   'Local Culture',
   'Market',
   'Temple',
   'Beach'],
  'hours': (datetime.time(16, 30), datetime.time(23, 59)),
  'price_level': 2,
  'est_time_stay': datetime.timedelta(seconds=9000),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.2,
  'open_day': 'MON'},
 {'loc_id': 41,
  'loc_name': 'MBK Center',
  'coordinate': [13.7447982, 100.5300244],
  'tags': ['Must See Attraction', 'Shopping', 'Mall', 'Luxury', 'Market'],
  'hours': (datetime.time(10, 0), datetime.time(22, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=7200),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.3,
  'open_day': 'MON'},
 {'loc_id': 43,
  'loc_name': 'SEA LIFE Bangkok Ocean World',
  'coordinate': [13.7459351, 100.5352057],
  'tags': ['Must See Attraction',
   'Luxury',
   'Adventure',
   'Modern',
   'Temple',
   'Photography'],
  'hours': (datetime.time(10, 0), datetime.time(20, 0)),
  'price_level': 3,
  'est_time_stay': datetime.timedelta(seconds=10800),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.5,
  'open_day': 'MON'},
 {'loc_id': 44,
  'loc_name': 'Joke Sam Yan',
  'coordinate': [13.7346539, 100.5261501],
  'tags': ['Restaurant'],
  'hours': (datetime.time(5, 0), datetime.time(9, 30)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=3600),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.3,
  'open_day': 'MON'},
 {'loc_id': 44,
  'loc_name': 'Joke Sam Yan',
  'coordinate': [13.7346539, 100.5261501],
  'tags': ['Restaurant'],
  'hours': (datetime.time(15, 0), datetime.time(20, 0)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=3600),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.3,
  'open_day': 'MON'},
 {'loc_id': 45,
  'loc_name': 'Chicken Rice by J’Bo',
  'coordinate': [13.7432201, 100.5228919],
  'tags': ['Restaurant', 'Hloc_idden Gem'],
  'hours': (datetime.time(11, 30), datetime.time(21, 0)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=3600),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.4,
  'open_day': 'MON'},
 {'loc_id': 46,
  'loc_name': 'Jeh Nong Professional Barista',
  'coordinate': [13.7409272, 100.523517],
  'tags': ['Hloc_idden Gem', 'Snack'],
  'hours': (datetime.time(9, 0), datetime.time(21, 0)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=2700),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.6,
  'open_day': 'MON'},
 {'loc_id': 48,
  'loc_name': "I'm Park Chula",
  'coordinate': [13.7401041, 100.5246152],
  'tags': ['Must See Attraction', 'Shopping', 'Mall', 'Luxury', 'Modern'],
  'hours': (datetime.time(10, 0), datetime.time(21, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=3600),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.1,
  'open_day': 'MON'},
 {'loc_id': 49,
  'loc_name': 'Tuay Tung Ice-cream',
  'coordinate': [13.7437427, 100.5231391],
  'tags': ['Snack'],
  'hours': (datetime.time(15, 0), datetime.time(23, 0)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=1800),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.2,
  'open_day': 'MON'},
 {'loc_id': 50,
  'loc_name': 'Suan Luang Square',
  'coordinate': [13.7427432, 100.5246856],
  'tags': ['Market'],
  'hours': (datetime.time(8, 0), datetime.time(22, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=5400),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.2,
  'open_day': 'MON'},
 {'loc_id': 51,
  'loc_name': 'Wat Hua Lamphong',
  'coordinate': [13.7319972, 100.5290765],
  'tags': ['Must See Attraction',
   'Religion',
   'Temple',
   'Luxury',
   'Historical Place'],
  'hours': (datetime.time(0, 0), datetime.time(23, 59)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=1800),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.4,
  'open_day': 'MON'},
 {'loc_id': 52,
  'loc_name': 'Dragon Town',
  'coordinate': [13.7412353, 100.5243726],
  'tags': ['Market', 'Photography'],
  'hours': (datetime.time(9, 0), datetime.time(22, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=7200),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.2,
  'open_day': 'MON'},
 {'loc_id': 53,
  'loc_name': 'Silom Complex',
  'coordinate': [13.728223, 100.5351377],
  'tags': ['Mall', 'Must See Attraction', 'Shopping', 'Market', 'Temple'],
  'hours': (datetime.time(10, 30), datetime.time(21, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=7200),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.2,
  'open_day': 'MON'},
 {'loc_id': 54,
  'loc_name': 'Khun Nai Talae Dong Seafood Buffet',
  'coordinate': [13.741653, 100.522812],
  'tags': ['Restaurant', 'Buffet'],
  'hours': (datetime.time(23, 59), datetime.time(23, 0)),
  'price_level': 2,
  'est_time_stay': datetime.timedelta(seconds=10800),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.0,
  'open_day': 'MON'},
 {'loc_id': 55,
  'loc_name': 'Jeh Wan Chula',
  'coordinate': [13.7396557, 100.5221771],
  'tags': ['Snack'],
  'hours': (datetime.time(13, 30), datetime.time(23, 30)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=3600),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.3,
  'open_day': 'MON'},
 {'loc_id': 72,
  'loc_name': 'Sam Yan Market',
  'coordinate': [13.7369796, 100.5243807],
  'tags': ['Market'],
  'hours': (datetime.time(5, 0), datetime.time(23, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=5400),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.3,
  'open_day': 'MON'},
 {'loc_id': 73,
  'loc_name': 'iCanteen (Faculty of Engineering Canteen)',
  'coordinate': [13.7368956, 100.5340316],
  'tags': ['Restaurant'],
  'hours': (datetime.time(6, 0), datetime.time(16, 45)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=3600),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.4,
  'open_day': 'MON'},
 {'loc_id': 74,
  'loc_name': 'Sri Maha Mariamman Temple',
  'coordinate': [13.7242482, 100.5229171],
  'tags': ['Temple',
   'Religion',
   'Must See Attraction',
   'Historical Place',
   'Local Culture'],
  'hours': (datetime.time(6, 0), datetime.time(20, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=5400),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.6,
  'open_day': 'MON'},
 {'loc_id': 75,
  'loc_name': 'Chao Pho Suea Shrine (Talat Somdet)',
  'coordinate': [13.7363844, 100.4988555],
  'tags': ['Religion'],
  'hours': (datetime.time(6, 0), datetime.time(21, 0)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=2700),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.6,
  'open_day': 'MON'},
 {'loc_id': 76,
  'loc_name': 'Stadium One',
  'coordinate': [13.7466193, 100.5244451],
  'tags': ['Modern', 'Sports', 'Mall', 'Must See Attraction', 'Shopping'],
  'hours': (datetime.time(0, 0), datetime.time(23, 59)),
  'price_level': 0,
  'est_time_stay': datetime.timedelta(seconds=2700),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.1,
  'open_day': 'MON'},
 {'loc_id': 92,
  'loc_name': 'Jim Thompson House Museum',
  'coordinate': [13.7493569, 100.5281613],
  'tags': ['Must See Attraction',
   'Arts',
   'Luxury',
   'Historical Place',
   'Local Culture',
   'Photography'],
  'hours': (datetime.time(10, 0), datetime.time(17, 0)),
  'price_level': 2,
  'est_time_stay': datetime.timedelta(seconds=7200),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.4,
  'open_day': 'MON'},
 {'loc_id': 93,
  'loc_name': 'Three Pork Stewed Pork Soup and Khao kha mu',
  'coordinate': [13.7413099, 100.5230581],
  'tags': ['Restaurant', 'Hloc_idden Gem'],
  'hours': (datetime.time(11, 0), datetime.time(22, 30)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=3600),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.3,
  'open_day': 'MON'},
 {'loc_id': 94,
  'loc_name': 'Nung Nueb Fried Mochi Balls',
  'coordinate': [13.7407358, 100.5230563],
  'tags': ['Hloc_idden Gem', 'Snack'],
  'hours': (datetime.time(16, 0), datetime.time(22, 0)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=900),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.0,
  'open_day': 'MON'},
 {'loc_id': 96,
  'loc_name': 'J Aoi Som Tum',
  'coordinate': [13.7405328, 100.5236098],
  'tags': ['Restaurant', 'Hloc_idden Gem'],
  'hours': (datetime.time(16, 30), datetime.time(23, 59)),
  'price_level': 2,
  'est_time_stay': datetime.timedelta(seconds=5400),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.2,
  'open_day': 'MON'},
 {'loc_id': 97,
  'loc_name': 'Mae Sri Noodle Wonton',
  'coordinate': [13.741757, 100.5236296],
  'tags': ['Restaurant'],
  'hours': (datetime.time(15, 0), datetime.time(21, 30)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=3600),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.4,
  'open_day': 'MON'},
 {'loc_id': 98,
  'loc_name': 'เกาเหลาเลือดหมูเจ๊หญิง',
  'coordinate': [13.741933, 100.523635],
  'tags': ['Restaurant', 'Hloc_idden Gem'],
  'hours': (datetime.time(7, 0), datetime.time(23, 59)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=2700),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.7,
  'open_day': 'MON'},
 {'loc_id': 99,
  'loc_name': 'BB SUKI',
  'coordinate': [13.7398628, 100.5222136],
  'tags': ['Restaurant'],
  'hours': (datetime.time(23, 59), datetime.time(23, 59)),
  'price_level': 2,
  'est_time_stay': datetime.timedelta(seconds=5400),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.3,
  'open_day': 'MON'},
 {'loc_id': 100,
  'loc_name': 'Bualoy Parinya',
  'coordinate': [13.7430413, 100.5228385],
  'tags': ['Snack'],
  'hours': (datetime.time(16, 30), datetime.time(23, 59)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=2700),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.1,
  'open_day': 'MON'},
 {'loc_id': 101,
  'loc_name': 'เล็กใหญ่ นมสด สาขาบรรทัดทอง',
  'coordinate': [13.7440897, 100.5230291],
  'tags': ['Hloc_idden Gem', 'Snack'],
  'hours': (datetime.time(17, 0), datetime.time(23, 59)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=3600),
  'duration': 60,
  'durationH': 1.0,
  'rating': 3.7,
  'open_day': 'MON'},
 {'loc_id': 102,
  'loc_name': 'ถิงถิง Ting Ting บิงซูน้ำขิง บรรทัดทอง',
  'coordinate': [13.7443919, 100.5230459],
  'tags': ['Snack'],
  'hours': (datetime.time(23, 59), datetime.time(23, 0)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=2700),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.2,
  'open_day': 'MON'},
 {'loc_id': 104,
  'loc_name': 'Cheng Sim Ei',
  'coordinate': [13.7429709, 100.5243722],
  'tags': ['Outdoor', 'Modern', 'Local Culture', 'Temple', 'Hloc_idden Gem'],
  'hours': (datetime.time(11, 0), datetime.time(23, 59)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=2700),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.2,
  'open_day': 'MON'},
 {'loc_id': 105,
  'loc_name': 'Pungdet',
  'coordinate': [13.7416475, 100.5226457],
  'tags': ['Snack'],
  'hours': (datetime.time(16, 0), datetime.time(22, 0)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=1800),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.3,
  'open_day': 'MON'},
 {'loc_id': 106,
  'loc_name': 'Ping Noey Chula U.',
  'coordinate': [13.7431928, 100.5249843],
  'tags': ['Restaurant', 'Buffet'],
  'hours': (datetime.time(16, 0), datetime.time(23, 0)),
  'price_level': 2,
  'est_time_stay': datetime.timedelta(seconds=7200),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.3,
  'open_day': 'MON'},
 {'loc_id': 107,
  'loc_name': 'Gu Roti & Tea Chula (Roti Dessert Shop)',
  'coordinate': [13.7431798, 100.5248365],
  'tags': ['Snack'],
  'hours': (datetime.time(11, 0), datetime.time(22, 0)),
  'price_level': 1,
  'est_time_stay': datetime.timedelta(seconds=2700),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.3,
  'open_day': 'MON'},
 {'loc_id': 108,
  'loc_name': 'ZAP PONFAI by puponfai',
  'coordinate': [13.7432587, 100.5248485],
  'tags': ['Restaurant'],
  'hours': (datetime.time(16, 0), datetime.time(23, 0)),
  'price_level': 2,
  'est_time_stay': datetime.timedelta(seconds=2700),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.4,
  'open_day': 'MON'},
 {'loc_id': 109,
  'loc_name': 'หลงหลูเว่ย',
  'coordinate': [13.7434762, 100.5243933],
  'tags': ['Restaurant'],
  'hours': (datetime.time(11, 0), datetime.time(22, 0)),
  'price_level': 2,
  'est_time_stay': datetime.timedelta(seconds=3600),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.7,
  'open_day': 'MON'},
 {'loc_id': 110,
  'loc_name': 'Zhang La Mian',
  'coordinate': [13.743415, 100.5244313],
  'tags': ['Restaurant'],
  'hours': (datetime.time(11, 0), datetime.time(21, 0)),
  'price_level': 2,
  'est_time_stay': datetime.timedelta(seconds=3600),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.7,
  'open_day': 'MON'},
 {'loc_id': 112,
  'loc_name': 'Cheonman 천만',
  'coordinate': [13.7434785, 100.5241426],
  'tags': ['Must See Attraction', 'Outdoor', 'Restaurant', 'Hloc_idden Gem'],
  'hours': (datetime.time(11, 0), datetime.time(23, 59)),
  'price_level': 2,
  'est_time_stay': datetime.timedelta(seconds=5400),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.4,
  'open_day': 'MON'},
 {'loc_id': 113,
  'loc_name': 'Eat ‘Em all',
  'coordinate': [13.7402351, 100.5241684],
  'tags': ['Restaurant', 'Hloc_idden Gem', 'Buffet'],
  'hours': (datetime.time(10, 30), datetime.time(22, 0)),
  'price_level': 2,
  'est_time_stay': datetime.timedelta(seconds=7200),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.5,
  'open_day': 'MON'},
 {'loc_id': 114,
  'loc_name': 'Poki Club Chula',
  'coordinate': [13.7432137, 100.5233786],
  'tags': ['Restaurant', 'Buffet'],
  'hours': (datetime.time(23, 59), datetime.time(23, 59)),
  'price_level': 2,
  'est_time_stay': datetime.timedelta(seconds=7200),
  'duration': 60,
  'durationH': 1.0,
  'rating': 4.6,
  'open_day': 'MON'}]

In [5]:
with open('driving.txt', 'r', encoding='utf-8') as file:
    data = file.read()
    distanceMatrix = eval(data)

with open('walking.txt', 'r', encoding='utf-8') as file:
    data = file.read()
    walkMatrix = eval(data)

walkMatrix.keys() == distanceMatrix.keys()

True